*{
	margin: 0px;
	padding: 0px;
	zoom: 1;
}
body {

	font-family: sans-serif;
	font-size: 16px;
	float: none;
}

/*global - variables start*/
.container {
	width: 1140px;
	margin: 0px auto !important;
}
.row-6 {
	float: left;
	width: 50%;
}
.row-4 {
	float: left;
	width: 33.33%;
}
.row-12 {
	float: left;
	width: 100%;	
}
.row-3 {
	float: left;
	width: 25%;
}
/*global - variables end*/
.header {
	border-bottom: 1px solid #EEF0F3;
	float: left;
	width: 100%;
	position: fixed;
	margin-bottom: 50px;
	background:hsla(0, 0%, 100%, 0.80);
}
/*.header .menu:hover {
	background: rgba(5, 5, 5, 0.6);
}*/
 .header .container img {
 	width: 80px;
 	margin-left: 115px;
 	margin-top: 20px;
 	margin-bottom: 6px ;

 }
.menu {
 	width: 100%;
 	float: left;
 	text-align: right;
 	/*padding-left: px;*/

 }
 .header .menu li {
 		list-style: none;
 		text-decoration: none;
 		display: inline-block;
 		margin: 25px 0px;
 }
  .header .menu li a {
  	text-decoration: none;
  	font-family: poppins;
  	font-size: 15px;
  	line-height: 25px;
  	font-weight: 400;
  	padding: 0px 10px;
  	color: black;
  	text-transform: capitalize;
  	transition: .25s;

  }
 .header .menu li a:hover{
    color: skyblue;
    font-size: 18px;


 }
 .online {
 	float: left;
 	text-align: center;
 	width: 100%;
 	padding-top: 50px;
 	margin-top: 50px;
 	margin-left: 90px;
 }
 .online img {
 	width: 60%;
 }
  .online h3 {
  	font-family: poppins;
  	font-size: 50px;
  	text-transform: capitalize ;
  	font-weight: 700;
  	line-height: 60px;

  	padding: 15px 0px;

  }
  .online h3 span {
  	color: #008AFF;
  }
  .online p{
  	font-size: 14px;
  	font-family: poppins;
  	font-weight: 200;
  	line-height: 26px;
  	padding-bottom: 15px;
  }

  .projects {
  	float: left;
  	width: 100%;
  	margin-top: 100px;
  	margin-left: 20px;
  }

  .projects h3 {
  	font-size: 60px;
  	line-height: 70px;
  	text-align: right;
  	color: #F15767;
  }
  .projects p {
  	text-align: right;
  	font-family: poppins;
  	font-size: 13px;
  	line-height: 23px;
  	font-weight: 400;
  	color: #0F2656;
  }

  .projects h1{
  	padding-left: 30px;
  	line-height: 50px;
  	font-size: 50px;
  	font-weight: 700;
  	color: #0F2656;
  	text-transform: capitalize;
  }

  .services {
  	float: left;
  	width: 100%;
  	padding: 40px 0px;
  	margin: 60px 130px;

  }
  .services .sec {
  	float: left;
  	padding: 50px 30px;
  	margin: 15px ;
  	
  }
    .services .sec:hover {

    }
  .services h3 {
  	color: #0F2656;
  	font-family: poppins;
  	font-size: 23px;
  	line-height: 33px;
  	font-weight: 600;
  }
  .services p{
  	 font-family: poppins;
  	 font-weight: 400;
  	 font-size: 14px;
  	line-height: 24px;

  }
  .services img {
  	float: left;
  	width: 100%;
  	height: 200px;
  	/*padding: 20px 30px;*/
  }
.col-1 {
  	background-color: #FDEBED;
  }
  .col-2 {
  	background-color: #EBF9F4;
  }
  .col-3 {
  	background-color: #FDEBED;
  }

  .foot {
  	width: 100%;
  	float: left;
  	background: #008AFF;
  	padding-top: 30px;
  	padding: 30px 100px;
  	text-align: center;
  }
  .foot p {
  	margin-left: 160px;
  	color : #94D2FF;
  	font-family: poppins;
  	font-size: 12px;
  	font-weight: 400;
  }
  .foot p a {
  	text-decoration: none;
  	color: white;
  	text-transform: uppercase;
  	font-weight: 700;
  	letter-spacing: 3px;
  }
